@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans');

* {
text-align: center;
font-weight: lighter;
color: white;
margin: 0%;
padding: 0%;
text-decoration: none;
}
html, body{
  margin: 0%;
  padding: 0%;
}
.container{
  margin: 0%;
  padding: 0%;
}

  h2, h1, h4{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 23pt;
    font-weight: bold;
  }
.titul{
height: 1000px;
background-image: url(imagenes/fondo2.jpg);
background-size: cover;
}
h1{
  padding: 1%;
  border-bottom: solid 1px white;
  opacity: 0.8;
  font-size: 35pt;
}
h2{
  padding: 3%;
  padding-left: 10%;
  padding-right: 10%;
  font-weight: lighter;
}
.triangle{
  padding: 0;
  background-image: url(imagenes/triangle.png);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100%;

}
#logo{
  position: absolute;
  top: 11.5%;
  width: 23%;
  left: 23%;
}
#nombre{
  font-size: 30pt;
  font-weight: bold;
  padding: 0%;

}
#subnombre{
  font-size: 30pt;
  padding: 0;
}
.gradi{
  position: absolute;
  top: 153px;
  width: 100%;
  height: 850px;
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1));
}
.gradi2{
  z-index: 0;
  position: relative;
  bottom: 250px;
  width: 100%;
  height: 250px;
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.8));
}
.tituloSec{
  background-color: black;
  width: 100%;
  padding: 0px;
}
#ttSec1{
  padding: 0px;
  padding-bottom: 10px;
  border-bottom: solid rgba(60,60,60,1) 1px;

}
.row1{
  padding-top: 5%;
  background-image: url(imagenes/fondo1.jpg);
  background-size: cover;
}
.imgProy{
width: 100%;
height: auto;
-webkit-box-shadow: 10px 10px 22px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 22px 1px rgba(0,0,0,0.75);
box-shadow: 10px 10px 22px 1px rgba(0,0,0,0.75);
}
.coltipo1{
	font-weight: lighter;
  height: 400px;
}
.coltipo2{
	background-image: url(imagenes/2.jpg);
}
.coltipo3{
	background-image: url(imagenes/3.jpg);
}
.coltipo4{
	background-image: url(imagenes/4.jpg);
}
.coltipo5{
	background-image: url(imagenes/5.jpg);
}
.coltipo6{
	background-image: url(imagenes/6.jpg);
	height: 480px;
}
.colt{

}
.colImg{
	color: white;
height: 400px;
background-size: cover;
overflow: hidden;
}
.titleImages{
	margin-bottom: 3%;
}
.colImg:hover{
filter: saturate(180%);
box-shadow: inset 0 0 0 1000px rgba(96, 159, 0, 0.5);
}
/* -----------------------------------MEDIA QUERYS----------------------------*/
@media (max-width: 575px){
  .presentacion{
    z-index: 1;
    position: relative;
    bottom: 53%;
    left: 40%;
  }

  #nombre{
    display: inline;
    font-size: 32pt;
    font-weight: lighter;
    padding: 1%;
    font-family: 'Black Han Sans', sans-serif;
  }
  #subnombre{
    border-top: solid white 1px;
    margin-top: 4%;
    font-size: 14pt;
    padding: 1%;
  }
  .gradi{
    position: absolute;
    top: 653px;
    width: 100%;
    height: 350px;
  }
}


@media (min-width: 576px){
  .presentacion{
    z-index: 1;
    position: absolute;
    width: 34%;
    top: 50%;
    left: 60%;
  }
  #nombre{
    display: inline;
    font-size: 38pt;
    font-weight: lighter;
    padding: 1%;
    font-family: 'Black Han Sans', sans-serif;
  }
  #subnombre{
    border-top: solid white 1px;
    margin-top: 4%;
    font-size: 16pt;
    padding: 1%;
  }
}


@media (min-width: 768px) {
  #logo{
    width: 21%;
  }
  .presentacion{
    z-index: 1;
    position: absolute;
    width: 38%;
    top: 50%;
    left: 60%;
  }
  #nombre{
    display: inline;
    font-size: 42pt;
    font-weight: lighter;
    padding: 1%;
    font-family: 'Black Han Sans', sans-serif;
  }
  #subnombre{
    border-top: solid white 1px;
    margin-top: 4%;
    font-size: 19pt;
    padding: 1%;
  }
 }

@media (min-width: 992px) {
  #logo{
    top: 13%;
    width: 21%;
  }
  .presentacion{
    z-index: 1;
    position: absolute;
    width: 34%;
    top: 33%;
    left: 60%;
  }
  #nombre{
    display: inline;
    font-size: 56pt;
    font-weight: lighter;
    padding: 0%;
    font-family: 'Black Han Sans', sans-serif;
  }
  #subnombre{
    border-top: solid white 1px;
    margin-top: 4%;
    font-size: 20pt;
    padding: 4%;
  }
  .colt{
  margin: 2%;
  }
 }
