@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans');

* {
text-align: center;
font-weight: lighter;
color: white;
margin: 0%;
padding: 0%;
}
html, body{
  margin: 0%;
  padding: 0%;
}
.container{
  margin: 0%;
  padding: 0%;
}

  h2, h1, h4{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 23pt;
    font-weight: bold;
  }
.titul{
height: 750px;
background-image: url(imagenes/fondo2.jpg);
background-size: cover;
}
h1{
  padding: 1%;
  border-bottom: solid 1px white;
  opacity: 0.8;
  font-size: 35pt;
}
h2{
  padding: 3%;
  padding-left: 10%;
  padding-right: 10%;
  font-weight: lighter;
}
.triangle{
  padding: 0;
  background-image: url(imagenes/triangle.png);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100%;

}
#logo{
  position: absolute;
  top: 11.5%;
  width: 23%;
  left: 23%;
}
#nombre{
  font-size: 30pt;
  font-weight: bold;
  padding: 0%;

}
#subnombre{
  font-size: 30pt;
  padding: 0;
}

/* -----------------------------------MEDIA QUERYS----------------------------*/
@media (max-width: 575px){
  .presentacion{
    z-index: 1;
    position: relative;
    bottom: 41%;
    left: 39%;
  }

  #nombre{
    display: inline;
    font-size: 32pt;
    font-weight: lighter;
    padding: 1%;
    font-family: 'Black Han Sans', sans-serif;
  }
  #subnombre{
    border-top: solid white 1px;
    margin-top: 4%;
    font-size: 14pt;
    padding: 1%;
  }
}


@media (min-width: 576px){
  .presentacion{
    z-index: 1;
    position: absolute;
    width: 34%;
    top: 50%;
    left: 60%;
  }
  #nombre{
    display: inline;
    font-size: 38pt;
    font-weight: lighter;
    padding: 1%;
    font-family: 'Black Han Sans', sans-serif;
  }
  #subnombre{
    border-top: solid white 1px;
    margin-top: 4%;
    font-size: 16pt;
    padding: 1%;
  }
}


@media (min-width: 768px) {
  #logo{
    width: 21%;
  }
  .presentacion{
    z-index: 1;
    position: absolute;
    width: 38%;
    top: 50%;
    left: 60%;
  }
  #nombre{
    display: inline;
    font-size: 42pt;
    font-weight: lighter;
    padding: 1%;
    font-family: 'Black Han Sans', sans-serif;
  }
  #subnombre{
    border-top: solid white 1px;
    margin-top: 4%;
    font-size: 19pt;
    padding: 1%;
  }
 }

@media (min-width: 992px) {
  #logo{
    top: 13%;
    width: 21%;
  }
  .presentacion{
    z-index: 1;
    position: absolute;
    width: 34%;
    top: 33%;
    left: 60%;
  }
  #nombre{
    display: inline;
    font-size: 56pt;
    font-weight: lighter;
    padding: 0%;
    font-family: 'Black Han Sans', sans-serif;
  }
  #subnombre{
    border-top: solid white 1px;
    margin-top: 4%;
    font-size: 20pt;
    padding: 4%;
  }
 }
